body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
}

.player {
    max-width: 800px;
    width: 100%;
}

video {
    width: 100%;
    border-radius: 10px;
}
